body{
	font-family: "Proxima Nova";
	font-weight: 400;
	text-align: left;
}

h1{
	font-size: 190%;
	color: #2b2b2b;
	font-weight: 800;
}

h2 {
	font-size: 130%;
	color: #2b2b2b;
	font-weight: 500;
}

h4 {
	font-weight: 100;
	font-size: 110%;
	letter-spacing: 1px;
	line-height: 190%;
}

.heroSearch {
	z-index: 100;
}



.centered {
	text-align: center;
}

.top-bar {
	color: white;
	background-color: #343333;
	height: 50px;
	min-width: 100%;
	float: right;
	text-align: right;
	font-size: .7em;
	margin-bottom: 50px;
	
}

.ebook {
	color: white;
	background-color: #343333;
	height: 50px;
	min-width: 100%;
	float: right;
	text-align: right;
	font-size: .7em;
	margin-bottom: 50px;
	position: fixed;
	top: 0px;
	left: 0px;
	z-index: 10;

}
.ebook-cover {
	text-align: center;
	margin-top: 130px;
}
.ebook-title {
	text-align: center;
	
	h1 {
		font-size: 180%;
	}	
}
.ebook-content {
	p {
		font-size: 140%;
		padding: 10%;
	}
}

a.plainlink {
	color: inherit;
}


.top-nav{
	list-style: none;
	display: inline;
	margin: 10px;
}

div.top-nav{
	margin-top: 40px;
	float: right;
}

li.top-nav{
	border: solid #378bbf 2px;
	padding: 20px;
}

.fullwidth{
	width: 100%;
}

.heroImage {
	margin-top: 15px;
	z-index: -4;
	background-image: url('../assets/bluebooks.jpg');
	height: 190px;

}

.divider {
	height: 40px;
	background-color: #1780ad;
	margin-bottom: 10px;
}

.dividertype {
	color: white;
	font-wight: 100;
	text-align: left;
	
}

.checkedOut {
	a {
		opacity: .8;
	}
	
	a:hover {
		opacity: 1;
	}
}

.faveBlogs {
	ul li {
		list-style: none;
		display: inline;
	}
	.addblog {
		opacity: .7;
	}
	.addblog:hover {
		opacity: 1;
	}
}


.topfives {
	background-color: #1780ad;
	min-height: 400px;
	margin-top: 30px;
}

.footertitle {
	font-size: 250%;
	
}
.footertype {
	color: white;
	font-weight: 200;
	font-size: 90%;
}
.firstlinefix {
	padding-top: 38px;
}

.topfivecat {
	color: white;
	ol {
		a {
		text-decoration: none;
		color: white;
		}
		a:hover {
		text-decoration: underline;
		}
	}
	h1{
		color: white; 
		a:hover{
			text-decoration: none;
		}
	}		
}

.footer {
	background-color: #343333;
	height: 50px;
	padding-top: 10px;
	margin-top: 80px;
	ul {
		float: left;
		list-style: none;
		display: inline;
		color: lightgray;
	}
	li {
		display: inline;
		margin-left: 1%;
		color: lightgray;
		font-weight: 100;
		text-transform: uppercase;
		font-size: 80%;
	}
	p{
		color: #b4b4b4;
	}
}


.killmargin {
	margin: 0;
}

.button {
	background-color: #f38611;
	padding-right: 4rem;
	padding-left: 4rem;
	-webkit-transition: background-color 300ms ease-out;
	   -moz-transition: background-color 300ms ease-out;
            transition: background-color 300ms ease-out;
    -webkit-border-radius: 5px;
    		border-radius: 5px;
}
.button:hover {
	background-color: #e74408;
	}


.loadMore {
	background: #969696;
	color: white;
	padding-top: 4px;
	padding-bottom: 1px;
	margin-bottom: 30px;
	margin-top: 30px;	
	-webkit-transition: all .15s ease-in-out;
	   -moz-transition: all .15s ease-in-out;
         -o-transition: all .15s ease-in-out;
            transition: all .15s ease-in-out;
	h3 {
		color: #2f2f2f;
		letter-spacing: 1.5px;
		text-align: center;
		font-weight: 200;
		font-size: 120%;
		-webkit-transition: all .15s ease-in-out;
		   -moz-transition: all .15s ease-in-out;
	         -o-transition: all .15s ease-in-out;
	            transition: all .15s ease-in-out;
		
	}
}

.loadMore:hover {
	background: #656565;
	-webkit-transition: all .15s ease-in-out;
	   -moz-transition: all .15s ease-in-out;
         -o-transition: all .15s ease-in-out;
            transition: all .15s ease-in-out;	
	
	h3 {
		color: #d0d0d0;
	-webkit-transition: all .15s ease-in-out;
	   -moz-transition: all .15s ease-in-out;
         -o-transition: all .15s ease-in-out;
            transition: all .15s ease-in-out;
	}
}


.blogpost {
	
	margin-top: 30px;
	h3{
		color: #1780ad;
		font-family: "Proxima Nova";
		font-weight: 600;
	}
	.blogimage {
		
		
	}
	
	.blogsnippet {
		
	}
}

.ereader{
	.top-bar{
		min-height: 100px;
		padding-top: 10px;
	}
}

/* Info hover panel */
.thumbs {
  padding: 8px 0;
  text-align: center;
}
 
.thumbs ul li {
  display: block;
  position: relative;
  float: left;
  margin-left: 50px;
  margin-bottom: 50px;
}
 
 
/** detail panel **/
.details-pane {
  display: none;
  color: #414141;
  background: #f1f1f1;
  border: 1px solid #a9a9a9;
  position: absolute;
  top: 0;
  left: 290px;
  z-index: 99999;
  width: 530px;
  padding: 6px 8px;
  text-align: left;
  -webkit-box-shadow: 1px 3px 3px rgba(0,0,0,0.4);
  -moz-box-shadow: 1px 3px 3px rgba(0,0,0,0.4);
  box-shadow: 1px 3px 3px rgba(0,0,0,0.4);
}
.details-pane.rightside {
  left: -529px;
}
 
.details-pane h3 {
  font-size: 2.0em;
  line-height: 1.1em;
  margin-bottom: 4px;
}
 
.details-pane h3 span {
  font-size: 0.75em;
  font-style: italic;
  color: #555;
  padding-left: 15px;
}
 
.details-pane .desc {
  font-size: 1.2em;
  margin-bottom: 6px;
}

/** hover styles **/
a.hvrlink:hover + .details-pane {
  display: block;
}
.details-pane:hover {
  display: block;
}